html{
    display: inline-block;
    font-family: "Open Sans", monospace;
    margin: 0%;
    padding: 0%;
    overflow: scroll;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Space Mono", monospace;
}

/* Nav Bar */
.nav-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 4fr 1fr 1fr; 
    background-color: #2E573A;
    font-size: auto;
}

.nav-bar a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #F5F5F5;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8vw;
    font-weight: 650;
    padding: 0.6em 0.3em;
}

.nav-bar a:hover{
    background-color: #162654;
}

/* Footer */
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: #2E573A;
    color: #F5F5F5;
    place-items: center;
}

.footer a{
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    color: #F5F5F5;
    padding: 5% 0% 5% 0%;
    width: 100%;
}

.footer a:hover{
    background-color: #0D0D0D;
}


/* Hero Section */
.hero-section{
    background-image: url("../images/decorative-images/spacecraft-earth.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh
}

.hero-text{
    vertical-align: middle;
    text-align: center;
    color: #F5F5F5;
    font-size: 3vw;
    position: relative;
    top: 10vh;
    font-weight: 800;
}

.hero-text h1{
    margin: 0;
    -webkit-text-stroke: #3357C1 .05em;
}

/* 2 Column Grid */
.two-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(#162654, #3357C1, #162654);
}

.two-column-column{
    padding: 0% 5%;
    color: #F5F5F5;
}

.two-column-column p{
    font-size: 1.1rem;
}

/* Page Headings */
.top-text{
    color: #F5F5F5;
    text-align: center;
    background: linear-gradient(#2E573A, #162654);
}

.top-text h1, h2, h3, h4, h5, h6{
    margin: 0%;
}

/* All Data Sections. For all mission, stage, and engine pages. */
.all-data-type{
    background-color: #F5F5F5;
}

.all-data-type-header{
    margin: 0%;
    padding: 2%;
    font-size: 3em;
    color: #F5F5F5;
    text-align: center;
    -webkit-text-stroke: 1.4px #3357C1;
    background: linear-gradient(#2E573A, #607F68, #F5F5F5);
}

.three-column-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    padding: 4vh 5vw;

}

.three-column-grid img{
    width: 50%;
}