<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/error_handler.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <h1>404 Page Not Found</h1>
    <div>
        <p>The url you requested did not exist on the server.</p>
        <p>The url you attempted to go to was {{url}}</p>
    </div>
    <div>
         <img src="/static/images/decorative-images/Mars-spacecraft.png" alt="A Spacecraft over Mars">
    </div>
</body>
</html>
