{%extends "layout.html"%}
{% block content %}
<h2 class="object-header">{{engine_data[1][1]}}</h2>
<section class="object-info">
    <div class="unbal-three-column-grid" style="background: none;"> {# A grid structure to expand and display all the information about a engine and its performance #}
        <div class="info-list"> {# Expand and store all the information about the engine.#}
            {% for name, info in engine_data %}
                {% if name and info%}
                    <p>{{name}}: {{info}}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="object-image-container">
            <img src="/{{engine_data[10][1]}}" alt="The {{engine_data[1][1]}}" class="object-image">
            <h4>{{engine_data[1][1]}}</h4>
        </div>
    </div>
</section>
{%endblock%}