{% extends "layout.html" %}
{%block content%}
<section class="hero-section">
    <div class="hero-text">
        <h1>
            Kerbal Space Program<br>Realism Overhaul<br>Mission Library
        </h1>
    </div>
</section>
<section class="intro-body">
    <div class="three-column-grid">
        <div class="home-page-redirect-card">
            <img src="/static/images/decorative-images/mission-sample-image.png" alt="A sample mission image.">
            <h4><a href="/missions">Visit the Library of Missions!</a></h4>
        </div>
        <div class="home-page-redirect-card">
            <img src="/static/images/decorative-images/stage-sample-image.png" alt="A sample stage image.">
            <h4><a href="/stages">Visit the Library of Stages!</a></h4>
        </div>
        <div class="home-page-redirect-card">
            <img src="/static/images/decorative-images/engine-sample-image.png" alt="A sample engine image">
            <h4><a href="/engines">Visit the Library of Engines!</a></h4>
        </div>
    </div>
    {#INSERT SEARCH BAR HERE#}
</section>
{%endblock%}