{% extends "layout.html" %}
{%block content%}
<section class="hero-section">
    <div class="hero-text">
        <h1>
            Kerbal Space Program<br>Realism Overhaul<br>Mission Library
        </h1>
    </div>
</section>
<section class="intro-body">
    <div>
        <h2>
            About the Project.
        </h2>
        <p>
            Greetings travller of the internet and KSP player, you've stumbled upon a repository of KSP Missions I've performed in Realism Overhaul/Real Scale Solar System. 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
</section>
{%endblock%}