{% extends "layout.html" %}
{% block content %}
<div class="top-text">
    <br>
    <h2>Mod Licenses</h2>
    <br>
    <br>
    <h3>This page contains the links to all of the mods used in the install.</h3>
    <br>
</div>
<section class="two-column-grid">
    <div class="two-column-column">
        <h5>
            LGPL-2.0
        </h5>
        <a class="license-link" href="https://www.gnu.org/licenses/old-licenses/lgpl-2.0.en.html#SEC1">License</a>
        <p>
            Advanced Jet Engine - <a class="mod-link" href="https://github.com/KSP-RO/AJE">Mod Github Repository</a> <br>
        </p>
        <br>
        <h5>
            LGPL-2.1
        </h5>
        <a class="license-link" href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.en.html#SEC1">License</a>
        <p>
            Solver Engines Plugin - <a class="mod-link" href="https://github.com/KSP-RO/SolverEngines">Mod Github Repository</a> <br>
        </p>
        <br>
        <h5>
            CC-BY-NC-SA-4.0
        </h5>
        <a class="license-link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">License</a>
        <p>
            AlphaMensae's Modular Launch Pads <a class="mod-link" target="_blank" href="https://github.com/AlphaMensae/Modular-Launch-Pads">Mod Github Repository</a><br>
            B9 Aerospace Procedural Wings - Fork <a class="mod-link" target="_blank" href="https://github.com/B9-Procedural-Wings/B9-PWings-Modified">Mod Github Repository</a><br>
            Community Category Kit <a class="mod-link" target="_blank" href="https://github.com/UmbraSpaceIndustries/CommunityCategoryKit">Mod Github Repository</a><br>
            Community Resource Pack - <a class="mod-link" target="_blank" href="https://github.com/UmbraSpaceIndustries/CommunityResourcePack">Mod Github Repository</a><br>
            Patch Manager - <a class="mod-link" target="_blank" href="https://github.com/linuxgurugamer/PatchManager">Mod Github Repository</a><br>
            Real Antennas - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RealAntennas">Mod Github Repository</a><br>
            Realistic Progression One - (v1.13.2.1) - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RP-1">Mod Github Repository</a><br>
            ROUtils - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROUtils">Mod Github Repository</a><br>
            RSS DateTime Formatter - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RSSTimeFormatter">Mod Github Repository</a><br>
            SXT Continued - <a class="mod-link" target="_blank" href="https://github.com/linuxgurugamer/SXTContinued">Mod Github Repository</a><br>
            Test Flight - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/TestFlight">Mod Github Repository</a><br>
            Waterfall Core - <a class="mod-link" target="_blank" href="https://github.com/post-kerbin-mining-corporation/Waterfall">Mod Github Repository</a><br>
            Real Plume - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RealPlume"> Mod Github Repository</a><br>
            Real Solar System - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RealSolarSystem"> Mod Github Repository</a><br>
            Real Solar System Textures - 4096 x 2048 - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RSS-Textures"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            GPL-3.0
        </h5>
        <a class="license-link" href="https://www.gnu.org/licenses/gpl-3.0.en.html#license-text">License</a>
        <p>
            AtmosphereAutopilot (Fly-By-Wire) - <a class="mod-link" target="_blank" href="https://github.com/Boris-Barboris/AtmosphereAutopilot"> Mod Github Repository</a><br>
            ClickThroughBlocker - <a class="mod-link" target="_blank" href="https://github.com/linuxgurugamer/ClickThroughBlocker"> Mod Github Repository</a><br>
            Conformal Decals - <a class="mod-link" target="_blank" href="https://github.com/drewcassidy/KSP-Conformal-Decals"> Mod Github Repository</a><br>
            Ferram Aerospace Research Continued - <a class="mod-link" target="_blank" href="https://github.com/dkavolis/Ferram-Aerospace-Research"> Mod Github Repository</a><br>
            Kerbal Engineer Redux - <a class="mod-link" target="_blank" href="https://github.com/jrbudda/KerbalEngineer"> Mod Github Repository</a><br>
            Kerbal Joint Reinforcement Continued - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/Kerbal-Joint-Reinforcement-Continued"> Mod Github Repository</a><br>
            KSP Wheel - <a class="mod-link" target="_blank" href="https://github.com/shadowmage45/KSPWheel"> Mod Github Repository</a><br>
            MechJeb 2 - <a class="mod-link" target="_blank" href="https://github.com/MuMech/MechJeb2"> Mod Github Repository</a><br>
            Resurfaced - <a class="mod-link" target="_blank" href="https://github.com/Tantares/Resurfaced"> Mod Github Repository</a><br>
            Shabby - <a class="mod-link" target="_blank" href="https://github.com/KSPModdingLibs/Shabby"> Mod Github Repository</a><br>
            Textures Unlimited - <a class="mod-link" target="_blank" href="https://github.com/KSPModStewards/TexturesUnlimited"> Mod Github Repository</a><br>
            Toolbar Controller - <a class="mod-link" target="_blank" href="https://github.com/linuxgurugamer/ToolbarControl"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            LGPL-3.0
        </h5>
        <a class="license-link" href="https://www.gnu.org/licenses/lgpl-3.0.en.html#license-text">License</a>
        <p>
            B9 Part Switch - <a class="mod-link" target="_blank" href="https://github.com/blowfishpro/B9PartSwitch"> Mod Github Repository</a><br>
            Kopernicus Planetary System Modifier - <a class="mod-link" target="_blank" href="https://github.com/Kopernicus/Kopernicus"> Mod Github Repository</a><br>
            ReStock - <a class="mod-link" target="_blank" href="https://github.com/PorktoberRevolution/ReStocked"> Mod Github Repository</a><br>
            ReStock+ - <a class="mod-link" target="_blank" href="https://github.com/PorktoberRevolution/ReStocked"> Mod Github Repository</a><br>
            RCS Build Aid - <a class="mod-link" target="_blank" href="https://github.com/m4v/RCSBuildAid"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            CC-BY-SA-2.0
        </h5>
        <a class="license-link" href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">License</a>
        <p>
            BahamutoD Animation Modules - <a class="mod-link" target="_blank" href="https://github.com/raidernick/BDAnimationModules"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            CC-BY-SA
        </h5>
        <a class="license-link" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">License</a>
        <p>
            Module Manager - <a class="mod-link" target="_blank" href="https://github.com/sarbian/ModuleManager"> Mod Github Repository</a><br>
            ModuleDepthMask - <a class="mod-link" target="_blank" href="https://github.com/drewcassidy/KSP-DepthMask"> Mod Github Repository</a><br>
            Procedural Parts - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ProceduralParts"> Mod Github Repository</a><br>
            Real Fuels - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RealFuels"> Mod Github Repository</a><br>
            RealHeat - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RealHeat"> Mod Github Repository</a><br>
            Realism Overhaul - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/RealismOverhaul"> Mod Github Repository</a><br>
            RO Capsules - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROCapsules"> Mod Github Repository</a><br>
            RO Tanks - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROTanks"> Mod Github Repository</a><br>
        </p>
        <br>
    </div>
    <div class="two-column-column">
        <h5>
            CC-BY-NC-ND 4.0
        </h5>
        <a class="license-link" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">License</a>
        <p>
            RO Engines - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROEngines"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            CC-BY-SA-4.0
        </h5>
        <a class="license-link" href="REPLACE WITH LINK">License</a>
        <p>
            RO Library - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROLibrary"> Mod Github Repository</a><br>
            RO Solar - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROSolar"> Mod Github Repository</a><br>
            Stage Animation - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/StagedAnimation"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            CC-BY
        </h5>
        <a class="license-link" href="REPLACE WITH LINK">License</a>
        <p>
            Procedural Fairings - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ProceduralFairings"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            CC-BY-4.0
        </h5>
        <a class="license-link" href="https://creativecommons.org/licenses/by/4.0/deed.en">License</a>
        <p>
            Ven's New Parts - <a class="mod-link" target="_blank" href="https://github.com/Kerbas-ad-astra/Stock-Revamp"> Mod Github Repository</a><br>
            Ven's Stock Part Revamp Core - <a class="mod-link" target="_blank" href="https://github.com/Kerbas-ad-astra/Stock-Revamp"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            MIT
        </h5>
        <a class="license-link" href="https://opensource.org/license/mit">License</a>
        <p>
            Contract Configurator - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ContractConfigurator"> Mod Github Repository</a><br>
            Custom Barn Kit - <a class="mod-link" target="_blank" href="https://github.com/sarbian/CustomBarnKit"> Mod Github Repository</a><br>
            Harmony 2 - <a class="mod-link" target="_blank" href="https://github.com/KSPModdingLibs/HarmonyKSP"> Mod Github Repository</a><br>
            Kerbal Alarm Clock - <a class="mod-link" target="_blank" href="https://github.com/TriggerAu/KerbalAlarmClock"> Mod Github Repository</a><br>
            Kerbal Changelog - <a class="mod-link" target="_blank" href="https://github.com/HebaruSan/KerbalChangelog"> Mod Github Repository</a><br>
            KSP Community Fixes - <a class="mod-link" target="_blank" href="https://github.com/KSPModdingLibs/KSPCommunityFixes"> Mod Github Repository</a><br>
            KSPBurst - <a class="mod-link" target="_blank" href="https://github.com/KSPModdingLibs/KSPBurst"> Mod Github Repository</a><br>
            Lunar Transfer Planner - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/LunarTransferPlanner"> Mod Github Repository</a><br>
            MagiCore - <a class="mod-link" target="_blank" href="https://github.com/linuxgurugamer/MagiCore"> Mod Github Repository</a><br>
            ModularFlightIntegrator - <a class="mod-link" target="_blank" href="https://github.com/sarbian/ModularFlightIntegrator"> Mod Github Repository</a><br>
            Retractable Lifting Surface Module - <a class="mod-link" target="_blank" href="https://github.com/linuxgurugamer/RetractableLiftingSurface"> Mod Github Repository</a><br>
            RO Heatshields - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROHeatshields"> Mod Github Repository</a><br>
            Texture Replacer - <a class="mod-link" target="_blank" href="https://github.com/ducakar/TextureReplacer"> Mod Github Repository</a><br>
            Transfer Window Planner - Fork - <a class="mod-link" target="_blank" href="https://github.com/Nazfib/TransferWindowPlanner"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            GPL-2.0
        </h5>
        <a class="license-link" href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html#SEC1">License</a>
        <p>
            TweakScale - <a class="mod-link" target="_blank" href="https://github.com/TweakScale/TweakScale"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            BSD-2-clause
        </h5>
        <a class="license-link" href="https://opensource.org/license/bsd-2-clause">License</a>
        <p>
            Kerbal Renamer - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/KerbalRenamer"> Mod Github Repository</a><br>
            KSC Switcher - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/KSCSwitcher"> Mod Github Repository</a><br>
            SmokeScreen - Extended FX Plugin - <a class="mod-link" target="_blank" href="https://github.com/sarbian/SmokeScreen"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            Other
        </h5>
        <p>
            Firespitter Core - <a class="mod-link" target="_blank" href="https://github.com/snjo/Firespitter"> Mod Github Repository</a><br>
            RealChute for Stock - <a class="mod-link" target="_blank" href="https://github.com/ChrisViral/RealChute"> Mod Github Repository</a><br>
            RealChute Parachute Systems - <a class="mod-link" target="_blank" href="https://github.com/ChrisViral/RealChute"> Mod Github Repository</a><br>
        </p>
        <br>
        <h5>
            Public Domain
        </h5>
        <p>
            Kerbalism - <a class="mod-link" target="_blank" href="https://github.com/Kerbalism/Kerbalism"> Mod Github Repository</a><br>
            Kerbalism - RealismOverhaul Config - <a class="mod-link" target="_blank" href="https://github.com/KSP-RO/ROKerbalism"> Mod Github Repository</a><br>
        </p>
        <br>
    </div>
</section>
{% endblock %}