{% extends "layout.html"%}

{% block content %}
LGPL-2.0
Advanced Jet Engine - https://github.com/KSP-RO/AJE

<br>
LGPL-2.1
Solver Engines plugin - https://github.com/KSP-RO/SolverEngines

<br>
CC-BY-NC-SA-4.0
AlphaMensae's Modular Launch Pads - https://github.com/AlphaMensae/Modular-Launch-Pads
B9 Aerospace Procedural Wings - Fork - https://github.com/B9-Procedural-Wings/B9-PWings-Modified
Community Category Kit - https://github.com/UmbraSpaceIndustries/CommunityCategoryKit
Community Resource Pack - https://github.com/UmbraSpaceIndustries/CommunityResourcePack
Patch Manager - https://github.com/linuxgurugamer/PatchManager
Real Antennas - https://github.com/KSP-RO/RealAntennas
Realistic Progression One - https://github.com/KSP-RO/RP-1 (Version 1.13.2.1)
ROUtils - https://github.com/KSP-RO/ROUtils
RSS DateTime Formatter - https://github.com/KSP-RO/RSSTimeFormatter
SXT Continued - https://github.com/linuxgurugamer/SXTContinued
Test Flight - https://github.com/KSP-RO/TestFlight
Waterfall Core - https://github.com/post-kerbin-mining-corporation/Waterfall

<br>
GPL-3.0
AtmosphereAutopilot (Fly-By-Wire) - https://github.com/Boris-Barboris/AtmosphereAutopilot
ClickThroughBlocker - https://github.com/linuxgurugamer/ClickThroughBlocker
Conformal Decals - https://github.com/drewcassidy/KSP-Conformal-Decals
Ferram Aerospace Research Continued - https://github.com/dkavolis/Ferram-Aerospace-Research
Kerbal Engineer Redux - https://github.com/jrbudda/KerbalEngineer
Kerbal Joint Reinforcement Continued - https://github.com/KSP-RO/Kerbal-Joint-Reinforcement-Continued
KSP Wheel - https://github.com/shadowmage45/KSPWheel
MechJeb 2 - https://github.com/MuMech/MechJeb2
Resurfaced - https://github.com/Tantares/Resurfaced
Shabby - https://github.com/KSPModdingLibs/Shabby
Textures Unlimited - https://github.com/KSPModStewards/TexturesUnlimited
Toolbar Controller - https://github.com/linuxgurugamer/ToolbarControl

<br>
LGPL-3.0
B9 Part Switch - https://github.com/blowfishpro/B9PartSwitch
Kopernicus Planetary System Modifier - https://github.com/Kopernicus/Kopernicus
RCS Build Aid - https://github.com/m4v/RCSBuildAid

<br>
CC-BY-SA-2.0
BahamutoD Animation Modules - https://github.com/raidernick/BDAnimationModules

<br>
CC-BY-SA
Module Manager - https://github.com/sarbian/ModuleManager
ModuleDepthMask - https://github.com/drewcassidy/KSP-DepthMask
Procedural Parts - https://github.com/KSP-RO/ProceduralParts
Real Fuels - https://github.com/KSP-RO/RealFuels
RealHeat - https://github.com/KSP-RO/RealHeat
Realism Overhaul - https://github.com/KSP-RO/RealismOverhaul
RO Capsules - https://github.com/KSP-RO/ROCapsules
RO Tanks - https://github.com/KSP-RO/ROTanks

<br>
CC-BY-NC-ND
RO Engines - https://github.com/KSP-RO/ROEngines

<br>
CC-BY-NC-SA
Real Plume - https://github.com/KSP-RO/RealPlume
Real Solar System - https://github.com/KSP-RO/RealSolarSystem
Real Solar System Textures - 4096 x 2048 - https://github.com/KSP-RO/RSS-Textures

<br>
CC-BY-SA-4.0
RO Library - https://github.com/KSP-RO/ROLibrary
RO Solar - https://github.com/KSP-RO/ROSolar
Stage Animation - https://github.com/KSP-RO/StagedAnimation

<br>
CC-BY
Procedural Fairings - https://github.com/KSP-RO/ProceduralFairings

<br>
CC-BY-4.0
Ven's New Parts - https://github.com/Kerbas-ad-astra/Stock-Revamp
Ven's Stock Part Revamp Core - https://github.com/Kerbas-ad-astra/Stock-Revamp

<br>
MIT
Contract Configurator - https://github.com/KSP-RO/ContractConfigurator
Custom Barn Kit - https://github.com/sarbian/CustomBarnKit
Harmony 2 - https://github.com/KSPModdingLibs/HarmonyKSP
Kerbal Alarm Clock - https://github.com/TriggerAu/KerbalAlarmClock
Kerbal Changelog - https://github.com/HebaruSan/KerbalChangelog
KSP Community Fixes - https://github.com/KSPModdingLibs/KSPCommunityFixes
KSPBurst - https://github.com/KSPModdingLibs/KSPBurst
Lunar Transfer Planner - https://github.com/KSP-RO/LunarTransferPlanner
MagiCore - https://github.com/linuxgurugamer/MagiCore
ModularFlightIntegrator - https://github.com/sarbian/ModularFlightIntegrator
Retractable Lifting Surface Module - https://github.com/linuxgurugamer/RetractableLiftingSurface
RO Heatshields - https://github.com/KSP-RO/ROHeatshields
Texture Replacer - https://github.com/ducakar/TextureReplacer
Transfer Window Planner - Fork - https://github.com/Nazfib/TransferWindowPlanner

<br>
GPL-2.0
TweakScale - https://github.com/TweakScale/TweakScale

<br>
BSD-2-clause
Kerbal Renamer - https://github.com/KSP-RO/KerbalRenamer
KSC Switcher - https://github.com/KSP-RO/KSCSwitcher
SmokeScreen - Extended FX Plugin - https://github.com/sarbian/SmokeScreen

Special
Firespitter Core - https://github.com/snjo/Firespitter
RealChute for Stock - https://github.com/ChrisViral/RealChute
RealChute Parachute Systems - https://github.com/ChrisViral/RealChute

<br>
No License?
ReStock - https://github.com/PorktoberRevolution/ReStocked
ReStock+ - https://github.com/PorktoberRevolution/ReStocked

<br>
Public Domain
Kerblaism - https://github.com/Kerbalism/Kerbalism
Kerbalism - RealismOverhaul Config - https://github.com/KSP-RO/ROKerbalism

{%endblock%}