{%extends "layout.html"%}
{%block content%}
<h2 class="mission-header">{{mission_data[1][1]}}</h2>
<section class="mission-info">
    <div class="unbal-three-column-grid"> {# A grid structure to expand and display all the information about a mission and its parameters #}
        <div>
            <div class="info-list"> {# Expand and store all the information about the mission. #}
                {% for name, info in mission_data %}
                    {% if name and info%}
                        <p>{{name}}: {{info}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div>
            <div class="summary-text">
                <h2>Mission Report:</h2>
                <p>{{mission_data[7][1]}}</p>
            </div>
        </div>
        <div>
            <div class="mission-payload">
                <img src="/{{mission_data[8][1]}}" alt="The {{mission_data[1][1]}} Mission Payload" class="mission-payload-image">
                <h4>{{mission_data[1][1]}}</h4>
            </div>
        </div>
    </div>
    <div class="unbal-two-column-grid">
        <div class="mission-stage-summary">
            {% for stage in stages_data %}
                <div class="info-card">
                    <div>
                        <img src="/{{stage[5]}}" alt="{{stage[1]}} Stage" class="responsive-image">
                    </div>
                    <div class="mission-stage-summary-text">
                        <p>Name: {{stage[1]}}</p>
                        <p>Length: {{stage[2]}}</p>
                        <p>Average Diameter: {{stage[3]}}</p>
                        <p>Material: {{stage[4]}}</p>
                        <p><a href="/stage/{{stage[0]}}">More Details</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="image-gallery">
            <div class="full-size-image-section">
                {% for image in image_gallery_data %}
                    <div class="image-slide">
                        <img src="/{{image[1]}}" alt="This image failed to load" class="image-slide-size-reg">
                        <div class="image-gallery-caption">
                            <a onclick="slide_shift(-1)" class="previous">&#10094;</a>
                            <p class="image-caption">{{image[0]}}</p>
                            <a onclick="slide_shift(1)" class="next">&#10095;</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script src="../static/scripts/aspect_ratio_hander.js"></script>
<script src="../static/scripts/image_slideshow.js"></script>
{%endblock%}