{% extends "layout.html" %}
{%block content%}

<section class="all-data-type">
    <h1 class="all-data-type-header">All Stages</h1>
    <div class="all-data-flex">
        {%for i in data%}
            <div class="info-card">
                <div>
                    <img src="{{i[4]}}" class="responsive-image" alt="Stage Image">
                </div>
                <div>
                    <h1>Name: <br> {{i[1]}}</h1>
                    <br>
                    <h3>Length (metres): <br> {{i[2]}}</h3>
                    <br>
                    <h3>Average Diameter (metres): <br> {{i[3]}}</h3>
                    <br>
                    <a href="/stage/{{i[0]}}">More Details</a>
                </div>
            </div>
        {%endfor%}
    </div>
</section>
<script src="../static/scripts/aspect_ratio_hander.js"></script>
{%endblock%}