{%extends "layout.html"%}
{% block content %}
<h2 class="object-header">{{stage_data[1][1]}}</h2>
<section class="object-info">
    <div class="unbal-two-column-grid"> {# A grid structure to expand and display all the information about a stage and its dimensions #}
        <div>
            <div class="info-list"> {# Expand and store all the information about the stage.#}
                {% for name, info in stage_data %}
                    {% if name and info%}
                        <p><b>{{name}}</b>: {{info}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div>
            <div class="summary-text">
                <h2>Stage Report:</h2>
                <p>{{stage_data[2][1]}}<p>
            </div>
        </div>
    </div>
    <div class="two-column-grid" style="background: none;">
        {%for engine in engine_data%}
            <div class="info-card info-card-two-column">
                <img src="/{{engine[6]}}" class="responsive-image" alt="Engine Image">
                <div>
                    <h1>Name: <br> {{engine[0]}}</h1>
                    <br>
                    <h3>Fuel Type: <br> {{engine[1]}}</h3>
                    <br>
                    <h3>Fuel Ratio: <br> {{engine[2]}}</h3>
                    <br>
                    <h3>Thrust (Sea Level): <br> {{engine[3]}} kN</h3>
                    <br>
                    <h3>ISP (Vacuum): <br> {{engine[4]}} seconds</h3>
                    <br>
                    <h3>Ignitions: <br> {{engine[5]}}</h3>
                    <br>
                    <a href="/engine/{{engine[7]}}">More Details</a>
                </div>
            </div>
    {%endfor%}
        <div class="object-image-container">
            <img src="/{{stage_data[9][1]}}" alt="The {{stage_data[1][1]}}" class="object-image">
            <h4>{{stage_data[1][1]}}</h4>
        </div>
    </div>
</section>
{%endblock%}